@use "variables" as *;

.collection-2018 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    text-align: center;
    padding: 100px 10px;

    h1 {
      position: relative;
      font-size: 36px;
      font-family: $secondaryFont;
      font-weight: 400;
      text-transform: uppercase;

      &::after {
        content: "";
        width: 120px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -40px;
        margin-bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    p {
      font-size: 14px;
      line-height: 24px;
      max-width: 471px;
    }

    button {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      padding: 12px 28px;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1260px) {
  .collection-2018 {
    grid-template-columns: 1fr;

    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    &-content {
      p {
        max-width: 600px;
      }
    }
  }
}
