.hero {
  background-image: url("../images/hero-img.png");
  background-position: center;
  background-size: cover;
  padding: 160px 0;

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
    text-align: center;
    flex-direction: column;

    p {
      font-weight: 400;
      font-size: 16px;
      max-width: 730px;
      line-height: 150%;
      color: white;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 500px) {
  .hero {
    padding: 80px 0;
    &-wrapper {
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
}
