.navbar {
  background-color: #0f0f0f;
  padding: 28px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
      color: #969696;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &__menu {
    display: none;
  }
}

@media (max-width: 790px) {
  .navbar__links {
    display: none;
  }
  .navbar__menu {
    display: block;
    color: #969696;
    text-transform: uppercase;
    cursor: pointer;
  }
}
