@use "variables" as *;
@use "topNav" as *;
@use "navbar" as *;
@use "hero" as *;
@use "new-collection" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  background-color: #000;
}
